# when this file is present, only explicitly listed legacy mojos are allowed to execute
# attempt to execute any other legacy mojo results in immediate build failure

# the format of the whitelist is one of the following:
# <groupId>:<artifactId>:<goal> for blanket whitelisting
# <groupId>:<artifactId>:<goal>:<executionId>:<executionProjectGroupId>:<executionProjectArtifactId> for explicit execution whitelisting
# <groupId>:<artifactId>:<goal>:<executionId>:*:* to whitelist executions defined in the reactor root pom

# legacy mojos used by the build
org.apache.maven.plugins:maven-resources-plugin:resources
org.apache.maven.plugins:maven-compiler-plugin:compile
org.apache.maven.plugins:maven-surefire-plugin:test


# this entry is redundant and is expected to trigger build failure
redundant-whitelist:redundant-whitelist-builder:builder
